<%- include('parts/header') %>

<div style="display: flex;">
    <div style="width: 50%;height: 100vh;">
        <img src="images/background.jpeg" alt="backgroundImage" class="homepage-image">
    </div>
    <div style="width: 50%;">
        <form action="/categories" method="post">
            <label class="switch">
                <input type="checkbox" name="alcohol-switch">
                <span class="slider round"></span>
              </label>
              <button type="submit">Apply filters</button>
        </form>
    </div>

</div>

<%- include('parts/footer') %>