body {
    background: #151414;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.homepage-image {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-size: 95px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 33px;
}

.form-container {
    width: fit-content;
    height: fit-content;
    margin: 142px auto;
    position: relative;
    left: 12px;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    width: 385px;
    align-items: center;
}

.searchBar button,.searchBar button:hover {
    margin-right: 13px;
    width: 40px;
    border-radius: 23px;
    height: 40px;
    background-color: #F4BF96;
    border: none;
    cursor: pointer;
}

.searchBar input{
    width: 304px;
    height: 33px;
    top: 349px;
    left: 771px;
    border-radius: 23px;
    border: 1px;
    margin-left: 6px;
    padding-left: 14px;
}

.searchBar input::placeholder{
    color: #ACACAC;
    margin-left: 14px;
}

.link-container {
    display: flex;
    justify-content: center;
    width: 321px;
    margin-top: -4px;
}

.categories-text {
    font-size: 12px;
    color: #FFF;
}

.categories-text a {
    color: #F4BF96;
}